@import '@/assets/styles/variables';

.header {
	position: relative;
	height: 60px;
	background-color: $main-color;
	padding: 0 111px;
	display: flex;
	justify-content: space-between;

	div:first-child {
		display: flex;
		align-items: center;
		height: inherit;
	}

	.container {
		.containerLink {
			width: 268px;
			display: flex;
			justify-content: space-between;
			margin-left: 58px;

			.tab {
				color: white;
				font-size: 20px;
				font-weight: 900;
				text-decoration: none;
				line-height: 96.5%;
				text-transform: uppercase;
			}
		}
	}

	.info {
		width: 486px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.profile {
			display: flex;
			align-items: center;

			.nick {
				color: white;
				text-transform: uppercase;
				margin-right: 10px;
			}
		}
	}
}
