@import '@/assets/styles/variables';

.eventMainDiv {
	width: 356px;
	height: 292px;
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 20px;

	div:first-child {
		width: inherit;
		height: 271px;
		background-color: $lightGrey;
		border-radius: 20px;
	}

	div:last-child {
		width: 152px;
		height: 41px;
		background-color: $blackGrey;
		border-radius: 500px;
		position: absolute;
		bottom: 0px;
		display: flex;
		justify-content: center;
		align-items: center;

		h3 {
			color: white;
			text-transform: uppercase;
		}
	}
}
