@import '@/assets/styles/variables';

.attentionButton {
	width: 127px;
	height: 33px;
	background-color: white;
	border-radius: 25px;
	border: none;
	cursor: pointer;
}
.attentionLink {
	color: $main-color;
	font-size: 20px;
	font-weight: 900;
	font-family: $font;
	text-decoration: none;
}
