@import '@/assets/styles/variables';

.colors {
	li {
		margin-bottom: 10px;
		height: 19px;
	}

	li:last-child {
		margin-bottom: 0px !important;
	}

	div {
		width: 187px;
		height: 15px;
		border-radius: 3px;
		display: inline-block;
	}

	input {
		position: absolute;
		left: 25px;
		opacity: 0;
		cursor: pointer;
	}

	span {
		display: inline-block;
		width: 15px;
		height: 15px;
		border: 2px solid $main-color;
		background-color: white;
		border-radius: 5px;
		margin-right: 6px;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
	}

	input:checked + span {
		background-color: $main-color;
	}

	div:hover {
		cursor: pointer;
	}
}

.minPriority {
	background-color: $lightGrey;
	border: 2px solid $lightGrey;
}

.highPriority {
	background-color: $lightGold;
	border: 2px solid $lightGold;
}

.fourthPriority {
	background-color: $lightGreen;
	border: 2px solid $lightGreen;
}

.thirdPriority {
	background-color: $lightBlue;
	border: 2px solid $lightBlue;
}

.secondPriority {
	background-color: $lightViolet;
	border: 2px solid $lightViolet;
}
