$main-color: #f7781c;

$lightGold: #fea316;
$blackGold: #cc5f1c;
$lightViolet: #c539ec;
$blackViolet: #8c2aa8;
$lightBlue: #077ced;
$blackBlue: #054a90;
$lightGreen: #57c501;
$blackGreen: #2b6d0b;
$lightGrey: #c3c9d0;
$blackGrey: #838c94;

$font: 'Alumni Sans', sans-serif;
$weight: 800;
