@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@600;700;800;900&display=swap');
@import './variables';
@import './reset';

html,
body {
	font-family: $font;
	background-color: white;
}

h1 {
	font-size: 23px;
	color: white;
	font-weight: $weight;
}
