$main-color: #f7781c;
$bar-width: 20%;

// .main {
// 	margin-top: 20px;
// 	margin-left: 112px;
// 	width: 212px;
// 	padding: 0 10px;
// 	background-color: $main-color;
// }

.main {
	margin-top: 20px;
	position: relative;
	top: 0;
	bottom: 0;
	padding: 20px 12px;
	// overflow-y: scroll;
	// width: $bar-width;
	width: 244px;
	// max-width: 350px;
	margin-left: 112px;
	background-color: $main-color;
	border-radius: 20px;
	display: flex;
	flex-direction: column;

	h1:first-child {
		margin-top: 0px !important;
	}

	h1 {
		color: white;
		margin-top: 20px;
	}
}

.background {
	margin-top: 15px;
	background-color: white;
	padding: 20px 14px;
	border-radius: 15px;
}
