@import '@/assets/styles/variables';
// .main {
// 	margin-top: 20px;
// 	margin-left: 112px;
// 	width: 212px;
// 	padding: 0 10px;
// 	background-color: $main-color;
// }

.main {
	position: relative;
	top: 0;
	bottom: 0;
	padding: 20px 12px;
	width: 254px;
	background-color: $main-color;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	height: 1277px;

	h1:first-child {
		margin-top: 0px !important;
	}

	h1 {
		color: white;
		margin-top: 20px;
		text-transform: uppercase;
	}
}

.background {
	margin-top: 15px;
	background-color: white;
	padding: 20px 14px;
	border-radius: 15px;
}
